form {
    padding: 10px;
    height: 100%;
    flex: 1 0 auto;
}
html, body {
  height: 100%;
}
body {

  display: grid;
  grid-template-rows: 1fr auto;
}
.btn-add {
    margin:20px;
}

.products {
    margin: 20px;
    border: #e2e2e2 1px solid;
    width:200px;
    height:200px;
    padding: 20px;
    border-radius: 4px;
}

.add_form{
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

.action .btn-action{
    background-color: #64afff;
    border: #5ea5f1 1px solid;
    padding: 5px 20px;
    color: #FFF;
    border-radius: 4px;
}

.action {
    float: right;
}

.select-div, .input-div {
    display: inline-block;
  }
 .container {
    height: 100%;
}

  .product {
    float: left;
    width: 170px;
    height: 150px;
    margin: 1em;
    margin: 20px;
    border:  2px solid black;
    padding: 20px;
    border-radius: 4px;
  }
  .after-product {
    clear: left;
  }

  .cat{
      margin-bottom: 5px;
  }

  .headname{
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 30px;
  }

  .add{
    text-decoration: none;
    color: black;
  }

  button{
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: none;
    cursor: pointer;
    margin-top: 7px;
  }


  .form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    float: left;
  }
  .form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }

  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 1px solid black;
  }
  label{
    padding: 5px 5px 5px 0;
    display: inline-block;
  }
  input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .inp{
    float: right;
  }
.fur{
  margin-bottom: 10px;
}
.furniture{
  width: 200px;
  display: inline-block;

}


  